---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Clone Spotify - Reproductor web: música para todos">
  <div>
    <!-- <PageHeader /> -->

    <div>
      <!-- <Gretings /> -->

      <div></div>
    </div>
  </div>
</Layout>
