---
import HomeIcon from "@/icons/Home.astro";
import Library from "@/icons/Library.astro";
import SearchIcon from "@/icons/Search.astro";
import SideMenuItem from "./SideMenuItem.astro";
import SideMenuCard from "./SideMenuCard.astro";

import { playlists } from "@/lib/data";
---

<nav class="flex flex-col flex-1 gap-2 h-full">
  <div class="px-3 py-2 rounded-lg bg-back-base">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon slot="icon" size="w-5 h-5" />
         Inicio
      </SideMenuItem>
      <SideMenuItem href="/">
        <SearchIcon slot="icon" size="w-5 h-5" />
         Buscar
      </SideMenuItem>
    </ul>
  </div>

  <div class="h-full px-3 py-2 rounded-lg bg-back-base">
    <ul>
      <SideMenuItem href="/">
        <Library slot="icon" size="w-5 h-5" />
         Tu biblioteca
      </SideMenuItem>

      {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
    </ul>
  </div>
</nav>
