---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<li class="px-2 py-3">
  <a
    href=`${href}`
    class="flex items-center justify-start gap-x-5 text-zinc-400"
  >
    <slot name="icon" />
    <span class="font-bold">
      <slot />
    </span>
  </a>
</li>
